h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
    /*outline: solid #f00 1px !important;*/
}

input {
    text-align: start;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: Georgia, serif;
}

.col-md-3,.col-lg-3{
    padding: 0;
}

.top-nav {
    background: lightgrey;
    width: 100%;
    height: 85px;
    top: 0;
    right: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 100;
}

#logo {
    position: fixed;
    top: 0;
    margin: 15px 15px;
    width: 275px;
    height: 55px;
}

.all-container {
    margin-top: 85px;
    width: 100vw;
    max-width: 100vw;
    padding: 0;

}

.ml10 {
    position: relative;
    font-weight: bold;
    letter-spacing: 3px;
    color: lightgrey;
    text-transform: capitalize;
    margin-right: 5vw;

}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding: 1vh 17vw;
    margin-top: 10vh;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}
.ml12 {
    font-weight: 800;
    font-size: 5vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: red;
    text-shadow: 1px 1px 2px black, 0 0 25px lightgrey, 0 0 5px white;
    margin-right: 5vw;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}



.error{
    margin: 20px 0;
    background: red;
    padding: 5px;
    border-radius: 25px;
}

.success{
    margin: 20px 0;
    background: green;
    padding: 5px;
    border-radius: 25px;
}

@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}

:root {
    --accent-color: #45494e;
    --gradient-color: #fbfbfb;
}

#scrollTop {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 100;
    height: 40px;
}

.breadcrumb{
    padding: 2vh 10vw;
    font-size: 1.5vw;
}

.breadcrumb a{
    color: red;
}



.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width: 991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width: 767px) {
    .container {
        margin-top: 40vh;
    }

    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text, .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

/*Menubar, Search and Footer code End*/

.sign-in, .sign-up {
    margin: 20px 5px;
}

.photo-container {
    width: 100vw;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hands.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 75vh;
}


.speech-bubble {
    position: absolute;
    top: 100px;
    right: 50px;
    background: lightgreen;
    border-radius: .4em;
    float: left;
    align-items: center;
    padding: 15px;
    font-size: large;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: lightgreen;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
}

#select-div {
    margin-top: 10vh;
    vertical-align: center;
    align-items: center;
    text-align: center;
}

#select-div span {
    font-size: x-large;
    color: white;
    margin: 5px;
}

#select-div select {
    position: relative;
    display: inline;
    width: 40vw;
    font-size: larger;
}

#select-div a {
    margin: 0 8px;
    position: relative;
    vertical-align: top;
    color: white;
    font-size: larger;
}

.btn-red {
    background: #e6232d;
    color: white;
}

.btn-red:hover {
    background: #b4232d;
    color: white;
}

.row {
    margin: 0;
}

.home-container h1 {
    padding: 5px 25px;
}


.content .row.pad{
    margin: 0 8vw;
    padding: 2vw 3vw;
    border-bottom: 1px solid darkgrey;
}

.content .col-md-3 div {
    padding: 20px 0;
    text-align: left;
}

.content div p {
    text-align: left;
    font-size: larger;
}

.content .btn.btn-info{
    margin: 0;
    position: absolute;
    left: 40%;
    transform: translate(-50%, -50%);
}

.content.visualisation h1 {
    padding-bottom: 1vw;
    border-bottom: 1px solid darkgrey;
}

.content .section:first-child{
    border-bottom: 1px silver solid;
}

.card{
    text-align: center;
    padding: 2vw !important;
    margin: 2vw;
    height: 40vh;
    vertical-align: center;
    align-items: center;
    border-radius: 25px;
}

.card:hover{
    filter: brightness(80%);
}

.card h3{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1vw;
    border-radius: 25px;
    width: 80%;
}

.card .btn{
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card.one{
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/fruits.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card.two{
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/exercises.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card.three{
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/numbers.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card.four{
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/reminders.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.visualisation-container {
    background: white no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70%;
    padding: 50px 0;
    z-index: 100;
}

.visualisation-container h1.red{
    font-size: 4vw;
    font-weight: bold;
}

.visualisation-container p{
    padding: 5vh 0;
}

.content.visualisation {
    background-color: white;
    padding: 5vw 15vw;
    margin: 5vh 7vw;
    border-radius: 25px;
    border: silver 1px solid;
    box-shadow: 0 0 20px rgba(255,0,0,1);
}


#login{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: dimgrey;
    z-index: 200;
    align-items: center;
    text-align: center;
}

#login .login-section{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3c3c3c;
    color: white;
    padding: 5vw;
    border-radius: 25px;
}


.login-section h3{
    margin: 20px 5px;
}

.login-section input{
    margin: 20px 5px;
}

.infographic-container div img{
    margin: 5vh 0;
    width:100%;
    opacity: 1;
    cursor: pointer;
}


.image-container {
    position: fixed;
    top:0;
    left: 0;
    text-align: center;
    align-items: center;
    display: none;
    z-index: 200;
    padding: 0;
    background: #3c3c3c;
}

#expandedImg{
    margin: 2.5vh 10vw;
    height: 95vh;
    width: 80vw;
    cursor: unset;
}

#imgtext {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 20px;

}

.closebtn {
    position: fixed;
    top: 2.5vh;
    right: 5vh;
    color: white;
    cursor: pointer;
    z-index: 250;
    background: #6f6f6f;
    padding: 1vw 2vw;
    font-size: 3vw;
}

.closebtn:hover {
    background: silver;
}

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

.red{
    color: red;
}

#backBtn{
    position: absolute;
    top: 105px;
    left: 20px;
}

.row .box{
    margin-top: 5vh;
    border: silver 1px solid;
    padding: 5vh;
    border-radius: 25px;
    text-align: center;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.row .box .btn-red{
    margin-top: 3vh;
}