.nutritions-container {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/nutrition.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding: 50px 0;
}

h1 {
    padding-top: 25px;

}

.nutrition-inner h1{
    color: black;
    letter-spacing: 1px;
}
.nutrition-inner h1 span{
    font-size: 5vw;
    color: red;
    letter-spacing: 2px;
}

ul{
    margin-bottom: 0;
}

b{
    font-size: x-large;
}

.nutritions-list-container {
    padding: 0 25px;
    margin: 0 100px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
}

.nutritions-list-container .btn-success {
    float: right;
    margin: 5px 20px;
}

#nutritionTable {
    background: white;
}

#nutritionTable_filter input {
    text-align: left;
    padding: 5px;
}

.filter-group .filter-label {
    font-size: large;
    font-weight: bold;
}

.filter-group input {
    width: 50px;
}

.nutrition-inner {
    background: floralwhite;
    margin: 0 10vw;
    padding: 20px;
    border-radius: 25px;
    color: black;
}

.nutrition-inner .row {
    text-align: left;
    padding: 20px 50px;
}


.nutrition-inner p {
    text-align: left;
}

.nutrition-inner ul {
    padding: 20px 0;
}

.nutrition-inner li {
    text-align: left;

}

.nutrition-inner li:first-letter {
    display: inline-block;
    text-transform: uppercase;
}



.nutrition-inner h2{
    width: 100%;
    text-align: left;
    margin-left: 5vw;
    padding-top: 5vh;
    border-top: 1px silver solid;
}


.right ul{
    padding: 0 5vw;
    border-left: 1px solid silver;
}

#nuts-image{
    width: 30vw;
    margin-top: 5vh;
}

#eat-image{
    width: 60vw;
}

.meats{
    border-left: 1px solid silver;
}

.meat-inner{
    margin-left: 5vw;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/ham.jpg");
    background-size: cover;
    border-radius: 25px;
}

.meat-list{
    color: black;
    background: rgba(255, 255, 255, 0.6);
    padding-left: 30px;
    margin-left: 10vw;
    border-radius: 25px;
}

.nutrition-inner .col-md-6,.col-lg-6{
    padding: 2vw;
}

#alcohol-image{
    width: 30vw;
    margin-top: 5vh;
}

.content-image {
    transition-duration: 2s;
}

.content-image:hover{
    transform: scale(1.2);
}

#navTitle{
    padding: 5vh 0;
    border-top: 1px solid silver;
    margin-top: 5vh;
    display: block;
    font-weight: bold;
}


.nav-div{
    width: 100%;
    margin-right: 30%;
}

.nav{
    background: rgba(0, 0, 0, 0.5);
    padding: 0 50px;
    border-radius: 15px;
}

.nav li a {
    font-weight: bold;
    font-size: larger;

}

.nav li a:hover{
    background-image: linear-gradient(to right, palevioletred, violet, dodgerblue, palegreen, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
}


