.smoke-visualisation-container {
    background: white no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding: 50px 0;
}

.inner{
    background: white;
    margin: 5vh 7vw;
    border-radius: 25px;
    font-size: larger;
    border: silver 1px solid;
    box-shadow: 0 0 20px rgba(255,0,0,1);
}


.smoke-visualisation-container h1.red{
    padding-top: 35px;
    font-size: 4vw;
    font-weight: bold;
}




.smoke-visualisation-container .section{
    padding: 3vw 5vw;
    margin: 0 5vw;
    border-bottom: 1px solid silver;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.section.box{
    margin: 10vh;
    border: silver 1px solid;
    padding: 10vh;
    border-radius: 25px;
    text-align: center;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.box .btn-red{
    margin-top: 5vh;
}

.section img{
    width: 100%;
}

#smoking-img{
    width: 100%;
}

